# protocol config
IS_DEV=true

# hardhat
SIGNER='0x123'

# secrets
SECRETS=`{"BITCOIN_RPC":"http://bitcoin:bitcoin@127.0.0.1:18443","BITCOIN_FEE_RPC":"https://blockstream.info/api/fee-estimates","RANGO_API_KEY":"123","RANGO_API_KEY_SWAP":"123","JWT_ENCRYPTION_KEY":"123","JWT_INIT_VECTOR":"123","EXCHANGERATE_API_KEY":"123","CRYPTO_SEED":"123","EMAIL_CONFIG":"{'host':'smtp.mail.ru','port':465,'secure':true,'auth':{'user':'dmitrdv@mail.ru','pass':'123'}}"}`
