# aws
AWS_ACCOUNT='391524128897'
AWS_ACCESS_KEY_ID='123'
AWS_SECRET_ACCESS_KEY='123'
AWS_REGION='us-east-1'

# resource names
VPC='vpc-5a7bf427'
KEY_PAIR_NAME='bitcoincore'
AMI_BITCOIN_CORE='bitcoincore20240607_2'
TABLE_NAME='data'
TABLE_NAME_TIME_SERIES='timeseries'
BUCKET_NAME_LOG='log-d21308e4618d'
BUCKET_NAME_DATA='data-d21308e4618d'
BUCKET_NAME_HOSTING_LANDING='landing-d21308e4618d'
BUCKET_NAME_HOSTING_ACCOUNT='account-d21308e4618d'
BUCKET_NAME_HOSTING_DOCS='docs-d21308e4618d'
BUCKET_NAME_HOSTING_PAYMENT='payment-d21308e4618d'
BUCKET_NAME_HOSTING_SUPPORT='support-d21308e4618d'
IMAGE_REPO='janedoe'

# secrets
SECRETS='{"BITCOIN_RPC":"http://bitcoin:bitcoin@127.0.0.1:18443","BITCOIN_FEE_RPC":"https://blockstream.info/api/fee-estimates","RANGO_API_KEY":"123","RANGO_API_KEY_SWAP":"123","JWT_ENCRYPTION_KEY":"123","JWT_INIT_VECTOR":"123","EXCHANGERATE_API_KEY":"123","CRYPTO_SEED":"123","EMAIL_CONFIG":"{\"host\":\"smtp.mail.ru\",\"port\":465,\"secure\":true,\"auth\":{\"user\":\"dmitrdv@mail.ru\",\"pass\":\"123\"}}"}'

# api config
IS_DEV=false
PORT=8080
APP_NAME='JaneDoe'
PINO_CONFIG='{"name":"api","level":"debug","transport":{"targets":[{"level":"debug","target":"pino-pretty","options":{}},{"level":"debug","target":"pino/file","options":{"destination":"./data/logs/api.log"}}]}}'
