# aws
AWS_ACCOUNT=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION='us-east-1'

# resource names
VPC=''
TABLE_NAME='data'
TABLE_NAME_TIME_SERIES='timeseries'
BUCKET_NAME_LOG=''
BUCKET_NAME_DATA=''
BUCKET_NAME_HOSTING_STATIC=''
BUCKET_NAME_HOSTING_LANDING=''
BUCKET_NAME_HOSTING_ACCOUNT=''
BUCKET_NAME_HOSTING_DOCS=''
BUCKET_NAME_HOSTING_PAYMENT=''
BUCKET_NAME_HOSTING_SUPPORT=''
IMAGE_REPO='janedoe'
HOSTED_ZONE_ID=''
HOSTED_ZONE_NAME=''
CERTIFICATE_ARN=''
ROOT_DOMAIN_NAME=''

# secrets
SECRETS='{"BITCOIN_RPC":"http://bitcoin:bitcoin@127.0.0.1:18443","BITCOIN_FEE_RPC":"https://blockstream.info/api/fee-estimates","RANGO_API_KEY":"","RANGO_API_KEY_SWAP":"","JWT_ENCRYPTION_KEY":"","JWT_INIT_VECTOR":"","EXCHANGERATE_API_KEY":"","CRYPTO_SEED":"","EMAIL_CONFIG":"{\"host\":\"smtp.gmail.com\",\"port\":465,\"secure\":true,\"auth\":{\"user\":\"mail@gmail.com\",\"pass\":\"\"}}"}'

# api config
IS_DEV=false
PORT=8080
APP_NAME='JaneDoe'
PINO_CONFIG='{"name":"api","level":"debug","transport":{"targets":[{"level":"debug","target":"pino-pretty","options":{}},{"level":"debug","target":"pino/file","options":{"destination":"./data/logs/api.log"}}]}}'
BITCOIN_NETWORK=regtest
BITCOIN_DEFAULT_FEE_RATE=7
BITCOIN_TRANSACTION_INPUTS_MAX=600
PAYMENT_NOTIFICATION_FROM_EMAIL='mail@gmail.com'
SUPPORT_NOTIFICATION_TO_EMAIL='mail@gmail.com'
